<ng-container>
  <header>
    <!-- <h1 *ngIf="dishes.length > 0; else all">{{ dishes[0].categoryName }}</h1>
    <ng-template #all>
      <h1>All</h1>
    </ng-template> -->
    <h1>{{cateogryName}}</h1>
    <select name="" id="" #selectList (change)="sortFoodBy(selectList.value)">
      <option value="lowestprice">Lowest Price</option>
      <option value="highestprice">Highest Price</option>
    </select>
  </header>
  <div class="menu-item" *ngFor="let dish of dishes">
    <div class="menu-item-container" #menuItem (click)="revealOrder(orderItem)">
      <div class="menu-item-img-container">
        <img [src]="dish.image" alt="Food Image" loading="lazy" />
      </div>
      <div class="menu-item-info">
        <h2>{{ dish.dishName }}</h2>
        <div class="ingridients">
          <!-- <p>
            {{ dish.about }}
          </p> -->
          <p *ngFor="let topping of dish.toppings" style="display: inline;">
            {{ topping }}
          </p>
        </div>
        <div class="price-and-order-wrapper">
          <p class="price">{{ dish.price }}$</p>
        </div>
      </div>
    </div>
    <div class="order" #orderItem>
      <div class="order-count" *ngIf="displayRestaurantFeaturesBool">
        <p >Count: {{ dishCount()}}</p>
        <button (click)=addToOrder(dish)>Add to Order</button>
      </div>
      <!-- <div class="toppings">
        <ng-content
          *ngFor="let dish of dishes; let i = index"
        ></ng-content>
        <div class="toppings-inner">
          <p>Toppings</p>
          <p class="choose-up-to">
            Choose up to {{ dish.toppings.length }} Additiional items
          </p>
        </div>
        <div class="toppings-dropdown">
          <div
            class="form-control"
            *ngFor="let topping of dish.toppings; let length = index"
          >
            <div class="form-controll-inner">
              <input type="checkbox" #topping/>
              <p>{{ topping }}</p>
            </div>
            <p class="topping-price">+ RSD 190.00</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</ng-container>

<a href="" class="add-to-cart-allert" #addToCartAllert>
  <h1>This dish is ordered</h1>
  <p>Sum: {{total}}<strong></strong></p>
</a>
