<ng-container>
  <header>

    <h1>{{cateogryName}}</h1>
    <select name="" id="" #selectList (change)="sortFoodBy(selectList.value)">
      <option value="lowestprice">Lowest Price</option>
      <option value="highestprice">Highest Price</option>
      <option value="lowestRaiting">Lowest Raiting</option>
      <option value="highestRaiting">Highest Raiting</option>
    </select>
  </header>
  <div class="menu-item" *ngFor="let dish of dishes">
    <div class="menu-item-container" #menuItem >
      <div class="menu-item-img-container">
        <img [src]="dish.image" alt="Food Image" loading="lazy" />
      </div>
      <div class="menu-item-info">
        <div class="menu-item-info-left">
        <h2>{{ dish.dishName }}</h2>
        <div class="ingridients">
          <!-- <p>
            {{ dish.about }}
          </p> -->
          <p *ngFor="let topping of dish.toppings" style="display: inline;">
            {{ topping }}
          </p>
        </div>
        <div class="price-and-order-wrapper">
          <p class="price">{{ dish.price }} RSD | {{dish.raitingToDisplay}}/ 5</p>
        </div>
      </div>
        <div class="order-btn" >
            <button (click)=addToOrder(dish)>Add to Order</button> 
        </div>
      </div>
    </div>

  </div>
</ng-container>

<a href="" class="add-to-cart-allert" #addToCartAllert>
  <h1>This dish is ordered</h1>
  <p>Sum: {{total}}<strong></strong></p>
</a>
