<div class="ordered-wrapper">
  <div class="food-order">
    <h2>Food Order</h2>
    <table>
      <thead>
        <tr>
          <th>Customer</th>
          <th>Addres</th>
          <th>Menu</th>
          <th>Toppings</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>Address</td>
          <td>Hamburger <span style="display: block">450$</span></td>
          <td>Toppings</td>
          <td>
            <button class="status">status</button>
            <button class="approve-order">
              <i class="fas fa-check"></i></button
            ><button class="dissmis-order">
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>Address</td>
          <td>Hamburger <span style="display: block">450$</span></td>
          <td>Toppings</td>

          <td><button class="status">status</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="detail">
    <!-- most ordered top reated -->
    <h2>Detail order</h2>
    <header>
      <a href="">Most ordered</a>
      <a href="">Top Rated</a>
    </header>
    <div class="most-ordered-item">
      <div class="most-ordered-left">
        <div class="most-img">
          <img src="./restaurant-banner.jpg" alt="" />
        </div>
        <p>Fresh Salad</p>
      </div>
      <p class="items-count">2 Items</p>
    </div>
    <div class="most-ordered-item">
      <div class="most-ordered-left">
        <div class="most-img">
          <img src="./restaurant-banner.jpg" alt="" />
        </div>
        <p>Fresh Salad</p>
      </div>
      <p>2 Items</p>
    </div>
    <div class="most-ordered-item">
      <div class="most-ordered-left">
        <div class="most-img">
          <img src="./restaurant-banner.jpg" alt="" />
        </div>
        <p>Fresh Salad</p>
      </div>
      <p>2 Items</p>
    </div>
  </div>
</div>
