<div class="ordered-wrapper">
  <div class="food-order">
    <h2>Food Order</h2>
    <table class="ordered-table">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Addres</th>
          <th>Menu</th>
          <th>Pending orders</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inOrderProcess of restaurant.inOrderProcess">
          <td>{{inOrderProcess.customerName}} {{inOrderProcess.customerLastname}}</td>
          <td>{{inOrderProcess.customerAddres}}</td>
          <td>{{inOrderProcess.dishName}}</td>
          <td><button class="status">status</button></td>
        </tr>
      <!-- <tr>
          <td>John Doe</td>
          <td>Address</td>
          <td>Hamburger <span style="display: block">450$</span></td>
          <td>Toppings</td>
          <td>
            <button class="status">status</button>
            <button class="approve-order">
              <i class="fas fa-check"></i></button
            ><button class="dissmis-order">
              <i class="fas fa-times"></i>
            </button>
            <button (click)="displayDishDialog(dialog)">1</button>
          </td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>Address</td>
          <td>Hamburger <span style="display: block">450$</span></td>
          <td>Toppings</td>

          <td><button class="status">status</button></td>
        </tr> -->
      </tbody>
    </table>
    <h2>Pending Orders</h2>

    <table class="orders-table">
      <thead>
        <tr>
          <th>Customer</th>
          <th>Addres</th>
          <th>Menu</th>
          <th>Aprove orders</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordered of restaurant.orderedQue ; let i = index">
          <td>{{ordered.customerName}} {{ordered.customerLastname}}</td>
          <td>{{ordered.customerAddres}}</td>
          <td>{{ordered.dishName}} <span style="display: block">450$</span></td>
          <td>
            <button class="approve-order" (click)="approveOrder(ordered,i)">
              <i class="fas fa-check"></i></button
            ><button class="dissmis-order" (click)="dismissOrder()">
              <i class="fas fa-times"></i>
            </button>
            <!-- <button (click)="displayDishDialog()">1</button> -->
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="detail">
    <!-- most ordered top reated -->
    <h2>Detail order</h2>
    <header>
      <a href="">Most ordered</a>
      <a href="">Top Rated</a>
    </header>
    <div class="most-ordered-item">
      <div class="most-ordered-left">
        <div class="most-img">
          <img src="./restaurant-banner.jpg" alt="" />
        </div>
        <p>Fresh Salad</p>
      </div>
      <p class="items-count">2 Items</p>
    </div>
    <div class="most-ordered-item">
      <div class="most-ordered-left">
        <div class="most-img">
          <img src="./restaurant-banner.jpg" alt="" />
        </div>
        <p>Fresh Salad</p>
      </div>
      <p>2 Items</p>
    </div>
    <div class="most-ordered-item">
      <div class="most-ordered-left">
        <div class="most-img">
          <img src="./restaurant-banner.jpg" alt="" />
        </div>
        <p>Fresh Salad</p>
      </div>
      <p>2 Items</p>
    </div>
  </div>
</div>

<div class="order-dialog" #dialog>
  <table >
    <thead>
      <tr>
        <th>Customer</th>
        <th>Addres</th>
        <th>Menu</th>
        <th>Toppings</th>
        <th>Pending orders</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>John Doe</td>
        <td>Address</td>
        <td>Hamburger <span style="display: block">450$</span></td>
        <td>Toppings</td>
        <td>
          <!-- <button class="approve-order" (click)="approveOrder()">
            <i class="fas fa-check"></i></button
          ><button class="dissmis-order" (click)="dismissOrder()">
            <i class="fas fa-times"></i>
          </button> -->
          <!-- <button (click)="displayDishDialog()">1</button> -->
        </td>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>Address</td>
        <td>Hamburger <span style="display: block">450$</span></td>
        <td>Toppings</td>
      </tr>
    </tbody>
  </table>
  <button class="close-dialog" (click)="close(dialog)"><i class="fas fa-times"></i> </button>
</div>