<div class="ordered-wrapper">
  <h2 class="ordered-wrapper-h2">Orders</h2>

  <div class="search-input">
  <input type="text" placeholder="Search" [(ngModel)]=userInput>
</div>
  <a [routerLink]="['/restaurant',order.restaurantId]" class="ordered" *ngFor="let order of orders | userOrders:userInput; let i = index ">
    <div class="ordered-container">
      <div class="ordered-img-container">
        <img [src]="order.image" alt="" />
      </div>
      <div class="ordered-info">
        <h2>{{order.dishName}}</h2>
        <div class="ingridients">
          <p>
          {{order.categoryName}}
          </p>
        </div>
        <div class="price-and-order-wrapper">
          <p class="price">{{order.price}}$</p>
  
          <!-- <p class="raiting-item"><i class="fas fa-star"></i> 4.5/10</p> -->
        </div>
      </div>
    </div>
    <div class="proggres" [ngClass]="{'red':order.orderProcess==='Preparing','yellow':order.orderProcess==='Delivery','green':order.orderProcess==='Delivered'}">
      <h3>{{order.orderProcess}}</h3>
    </div>
  </a>
</div>
