<div class="ordered-wrapper">
  <div class="ordered">
    <div class="ordered-container">
      <div class="ordered-img-container">
        <img src="./restaurant-banner.jpg" alt="" />
      </div>
      <div class="ordered-info">
        <h2>Ostani kod kuće</h2>
        <div class="ingridients">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat et
            placeat, cum quos nobis voluptatem!
          </p>
        </div>
        <div class="price-and-order-wrapper">
          <p class="price">850.00 RSD</p>
          <div class="rate-food">
            <p>Rate</p>
            <input type="number" />
            <p>/ 10</p>
          </div>
          <!-- <p class="raiting-item"><i class="fas fa-star"></i> 4.5/10</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
