<div class="ordered-wrapper">
  <a [routerLink]="" class="ordered" *ngFor="let order of orders">
    <div class="ordered-container">
      <div class="ordered-img-container">
        <img [src]="order.dishImage" alt="" />
      </div>
      <div class="ordered-info">
        <h2>{{order.dishName}}</h2>
        <div class="ingridients">
          <p>
          {{order.categoryName}}
          </p>
        </div>
        <div class="price-and-order-wrapper">
          <p class="price">{{order.price}}$</p>
          <div class="input-field">
            <select name="" id=""  #raiting ngModel (ngModelChange)="rateRestaurant($event)">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <p>/ 5</p>
            <i class="fas fa-star"></i>
          </div>
          <!-- <p class="raiting-item"><i class="fas fa-star"></i> 4.5/10</p> -->
        </div>
      </div>
    </div>
    <div class="proggres" [ngClass]="{'red':order.orderProcess==='Preparing','yellow':order.orderProcess==='Delivery','green':order.orderProcess==='Delivered'}">
      <h3>{{order.orderProcess}}</h3>
    </div>
  </a>
</div>
