.menu-component {
  display: flex;
  margin-top: 2rem;
  form {
    width: 30%;
    .form-inner {
      .form-control {
        margin: 1em 0em;
        label {
          display: block;
        }
        input {
          width: 100%;
          font-size: 1.2rem;
          padding: 0.3em;
          background-color: rgb(221, 221, 221);
          border: none;
          border-radius: 4px;
        }
      }
      button {
        font-size: 1.2rem;
        padding: 0.3em 0.6em;
        background-color: rgb(1, 207, 1);
        border: none;
        outline: none;
        color: white;
        border-radius: 8px;
        width: 100%;
      }
    }
  }
  .menu-table {
    width: 70%;

    table {
      border-collapse: collapse;
      tr {
        td {
          border-bottom: 1px solid black;
          font-size: 1.2rem;
          padding: 0.5em;

          &:nth-last-child(-n + 2) {
            padding: 0 !important;
            button {
              display: block;
              height: 100%;
              width: 100%;
              border: none;
              outline: none;
              background-color: transparent;
              cursor: pointer;
              .fa-times {
                color: red;
                font-size: 1.4rem;
                padding: 0.3em 0.6em;
              }
              .fa-edit {
                font-size: 1.4rem;
                padding: 0.3em 0.6em;
              }
            }
          }
        }
      }
    }
  }
}
