<div class="menu-component" *ngIf="restaurant">
  <div class="menu-table">
    <header><h2>Menu</h2></header>
    <div class="search-input">
      <input type="text" name="" id="" [(ngModel)]="userInput" />
    </div>
    <table>
      <thead>
        <tr>
          <th>CategoryID</th>
          <th>Category</th>
          <th>Dish</th>
          <th>Toppings</th>
          <th>Price</th>
          <th>Ordered</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let dish of restaurant.dishes | filterMenu: userInput;
            let i = index
          "
        >
          <td>categoryId</td>
          <td *ngIf="!dish.categoryName">{{ dish.existingCategory }}</td>
          <td>{{ dish.categoryName }}</td>
          <td>{{ dish.dishName }}</td>
          <td>{{ dish.toppings }}</td>
          <td>{{ dish.price }}</td>
          <td>{{ dish.ordered }}</td>
          <td class="edit">
            <button (click)="edit(dish)"><i class="fas fa-edit"></i></button>
          </td>
          <td class="remove">
            <button (click)="remove(i)"><i class="fas fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <table *ngIf="filtered.length > 0">
      <thead>
        <tr>
          <th>CategoryID</th>
          <th>Category</th>
          <th>Dish</th>
          <th>Toppings</th>
          <th>Price</th>
          <th>Ordered</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filter of filtered">
          <td>categoryId</td>
          <td>{{ filter.categoryName }}</td>
          <td>{{ filter.dishName }}</td>
          <td>{{ filter.toppings }}</td>
          <td>{{ filter.price }}</td>
          <td>{{ filter.ordered }}</td>
          <td class="edit">
            <button (click)="edit(filter)"><i class="fas fa-edit"></i></button>
          </td>
          <td class="remove">
            <button (click)="remove(i)"><i class="fas fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
  <form [formGroup]="addDishForm" (ngSubmit)="submit()">
    <div class="form-inner">
      <div class="form-control">
        <label for="">Add To Existing category</label>
        <!-- <select name="" formControlName="existingCategory">
          (ngModelChange)="onExistingCategory($event)" 
          <option
            *ngFor="let category of restaurant.dishes"
            [value]="category.categoryName"
          >
            {{ category.categoryName }}
          </option>
          <option value="No category">No category</option>
        </select> -->
      </div>
      <div class="form-control">
        <label for="">New category</label>
        <input type="text" formControlName="newCategory" class="newCategory" />
        <span *ngIf="!submit">Category already exists</span>
        <span
          *ngIf="
            !addDishForm.get('newCategory').valid &&
            addDishForm.get('newCategory').touched
          "
        >
          <span *ngIf="addDishForm.get('newCategory').errors['required']"
            >This field is required</span
          >
        </span>
      </div>
      <div class="form-control">
        <label for="">Dish Name</label>
        <input type="text" class="dishName" formControlName="dishName" />
        <span
          *ngIf="
            !addDishForm.get('dishName').valid &&
            addDishForm.get('dishName').touched
          "
        >
          <span *ngIf="addDishForm.get('dishName').errors['required']"
            >This field is required</span
          >
        </span>
      </div>
      <div class="form-control">
        <label for="">Toppings</label>
        <input type="text" formControlName="toppings" />
        <span
          *ngIf="
            !addDishForm.get('toppings').valid &&
            addDishForm.get('toppings').touched
          "
        >
          <span *ngIf="addDishForm.get('toppings').errors['required']"
            >This field is required</span
          >
          <span *ngIf="addDishForm.get('toppings').errors['pattern']"
            >No spaces please use commas instead</span
          >
        </span>
      </div>
      <div class="form-control">
        <label for="">Price</label>
        <input type="number" formControlName="price" />
        <span
          *ngIf="
            !addDishForm.get('price').valid && addDishForm.get('price').touched
          "
        >
          <span *ngIf="addDishForm.get('price').errors['required']"
            >This field is required</span
          >
        </span>
      </div>
      <div class="form-control">
        <label for=""
          >Dish Image
          <strong style="color: red"> Image is required </strong></label
        >
        <input
          formControlName="image"
          style="color: white"
          type="file"
          accept="image/x-png,image/gif,image/jpeg"
          (change)="onFileSelectedListener($event)"
        />
      </div>
      <span
        *ngIf="
          !addDishForm.get('image').valid && addDishForm.get('image').touched
        "
      >
        <span *ngIf="addDishForm.get('image').errors['required']">
          Image is required
        </span>
      </span>
      <div class="form-control">
        <label for="">About</label>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          formControlName="about"
        ></textarea>
      </div>
      <button [disabled]="!addDishForm.valid" type="submit">Submit</button>
    </div>
  </form>
</div>
