<div class="menu-component">
  <div class="menu-table">
    <header><h2>Menu</h2></header>

    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Dish</th>
          <th>Toppings</th>
          <th>Ordered</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Category Name</td>
          <td>Toppings Name</td>
          <td>Category Name</td>
          <td>Ordered Name</td>
          <td class="edit">
            <button (click)="edit()"><i class="fas fa-edit"></i></button>
          </td>
          <td class="remove">
            <button><i class="fas fa-times"></i></button>
          </td>
        </tr>
        <tr>
          <td>Category Name</td>
          <td>Toppings Name</td>
          <td>Category Name</td>
          <td>Ordered Name</td>
          <td class="edit">
            <button><i class="fas fa-edit"></i></button>
          </td>
          <td class="remove">
            <button><i class="fas fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form [formGroup]="addDishForm" (ngSubmit)="submit()">
    <div class="form-inner">
      <div class="form-control">
        <label for="">Add To Existing category</label>
        <select
          name=""
          (ngModelChange)="onExistingCategory($event)"
          formControlName="existingCategory"
        >
          <option value="No category">No category</option>

          <option value="Category Name">Category Name</option>
          <option value="Category Name">Category Name</option>
          <option value="Category Name">Category Name</option>
        </select>
      </div>
      <div class="form-control">
        <label for="">New category</label>
        <input
          type="text"
          (input)="onCategoryInput()"
          formControlName="newCategory"
          class="newCategory"
        />
      </div>
      <div class="form-control">
        <label for="">Dish Name</label>
        <input type="text" formControlName="dishName" />
      </div>
      <div class="form-control">
        <label for="">Toppings</label>
        <input type="text" formControlName="toppings" />
      </div>
      <div class="form-control">
        <label for="">Price</label>
        <input type="text" formControlName="price" />
      </div>
      <div class="form-control">
        <label for="">About</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
