<div class="menu-component">
  <div class="menu-table">
    <header><h2>Menu</h2></header>

    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Dish</th>
          <th>Toppings</th>
          <th>Ordered</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Category Name</td>
          <td>Toppings Name</td>
          <td>Category Name</td>
          <td>Ordered Name</td>
          <td class="edit">
            <button><i class="fas fa-edit"></i></button>
          </td>
          <td class="remove">
            <button><i class="fas fa-times"></i></button>
          </td>
        </tr>
        <tr>
          <td>Category Name</td>
          <td>Toppings Name</td>
          <td>Category Name</td>
          <td>Ordered Name</td>
          <td class="edit">
            <button><i class="fas fa-edit"></i></button>
          </td>
          <td class="remove">
            <button><i class="fas fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <form action="">
    <div class="form-inner">
      <div class="form-control">
        <label for="">Add To category</label>
        <select name="" id="">
          <option value="">Category Name</option>
          <option value="">Category Name</option>
          <option value="">Category Name</option>
        </select>
      </div>
      <div class="form-control">
        <label for="">New category</label>
        <input type="text" />
      </div>
      <div class="form-control">
        <label for="">Dish Name</label>
        <input type="text" />
      </div>
      <div class="form-control">
        <label for="">Toppings</label>
        <input type="text" />
      </div>
      <button>Add</button>
    </div>
  </form>
</div>
