@import "../../../../shared-styles/shared";

.menu-component {
  display: flex;
  margin-top: 2rem;
  form {
    width: 30%;
    span {
      color: red;
    }
    .form-inner {
      .form-control {
        margin: 1em 0em;
        span {
          color: red;
          font-weight: bold;
        }
        label {
          display: block;
          margin-bottom: 0.4em;
        }
        input {
          // width: 100%;
          // font-size: 1.2rem;
          // padding: 0.3em;
          // background-color: rgb(221, 221, 221);
          // border: none;
          // outline: none;
          // border-radius: 4px;
          // &.ng-invalid.ng-touched {
          //   border: 2px solid red;
          // }
          // &.ng-valid.ng-touched {
          //   border: 2px solid green;
          // }
          @include input();
        }

        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
        textarea {
          background-color: rgb(221, 221, 221);
          resize: none;
          font-family: "Roboto", "sans-serif";
          padding: 0.4em;
        }
      }
      button {
        font-size: 1.2rem;
        padding: 0.3em 0.6em;
        background-color: rgb(1, 207, 1);
        border: none;
        outline: none;
        color: white;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
        &[disabled] {
          background-color: #c9ffc9;
          pointer-events: none;
        }
      }
    }
  }
}
.submited-alert{
  background-color: green;
  color: white;
  padding: 1.6em;
  position: fixed;
  top: 1em;
  right: 1em;
  border-radius: 4px;
display: none;
}
.menu-table {
  width: 70%;
  .search-input {
    input {
      padding: 0.2em;
      font-size: 1.1rem;
      background-color: #dddddd;
      border: none;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      padding-left: 0.5em;
      border-radius: 4px;
      width: 300px;
      outline: none;
    }
    margin-bottom: 1.5rem;
  }
  header {
    margin-bottom: 1rem;
  }
  table {
    border-collapse: collapse;
    tr {
      td {
        border-bottom: 1px solid black;
        font-size: 1.2rem;
        padding: 0.5em;

        &:nth-last-child(-n + 2) {
          padding: 0 !important;
          button {
            display: block;
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            .fa-times {
              color: red;
              font-size: 1.4rem;
              padding: 0.3em 0.6em;
              pointer-events: none;
            }
            .fa-edit {
              font-size: 1.4rem;
              padding: 0.3em 0.6em;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .menu-table {
    table {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .menu-component {
    flex-direction: column;
    form {
      width: 70%;
    }

    .menu-table {
      width: 100%;
      overflow-x: auto;
      table {
        width: 100%;
        td {
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .menu-component {
    form {
      width: 100%;
    }
  }
}
