<div class="profile">
  <div class="profile-left">
    <div class="img">
      <img src="https://assets.donesi.rs/gravatar/no-avatar.png" alt="" />
    </div>
    <h3>Dušan Nikolić</h3>
  </div>
  <div class="profile-right">
    <h1>Your Details</h1>
    <form action="">
      <div class="form-control">
        <label for="">Ime</label>
        <input type="text" />
      </div>
      <div class="form-control">
        <label for="">Prezime</label>
        <input type="text" />
      </div>
      <div class="form-control">
        <label for="">Adresa</label>
        <input type="text" />
      </div>
      <div class="form-control image-control">
        <label for=""> Add image<i class="fas fa-image"></i></label>
        <input type="file" />
      </div>
      <button>Save changes</button>
    </form>
  </div>
</div>
