@mixin responsiveProfile {
  @media screen and (max-width: 800px) {
    flex-direction: column;
    .profile-left,
    .profile-right {
      width: 90%;
      margin: 1em auto;
    }
    .profile-right {
      form {
        .form-control {
          input {
            width: 100%;
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }
}

.profile {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  margin-top: 2rem;
  .profile-left {
    background-color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
    height: 250px;
    box-shadow: 2px 2px 2px 2px rgb(216, 216, 216);
    padding: 1em;
    text-align: center;
  }
  .profile-right {
    background-color: white;

    border-radius: 8px;
    width: 900px;
    margin-left: 1rem;
    box-shadow: 2px 2px 2px 2px rgb(228, 228, 228);
    padding: 1em;

    form {
      input {
        font-size: 1.2rem;
        padding: 0.3em;
        border-radius: 4px;
        border: 2px solid rgb(207, 206, 206);
        outline: none;
        &.ng-invalid.ng-touched{
          border: 2px solid red;
        }
        &.ng-valid.ng-touched{
          border: 2px solid green;
        }
      }
      label {
        margin-bottom: 0.7em;
      }

      .form-control:last-child {
        margin-left: 1em;
      }
   
    .form-control {
      label {
        display: block;
        margin-top: 1rem;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
    button {
      color: #212529;
      background-color: #ffc200;
      border-color: #ffc200;
      font-weight: bolder;
      font-size: 1.1rem;
      border: none;
      outline: none;
      font-size: 1.2rem;
      padding: 0.5em 1em;
      margin-top: 1rem;
      border-radius: 8px;
      pointer-events: none;
      opacity: .6;
    }
    &.ng-touched.ng-valid{
      button{
        background-color: #ffc200;
        opacity: 1;
        cursor: pointer;

      }
    }
  }
  }
  @include responsiveProfile();
}
.save-changes-alert{
  position: fixed;
  top: 2em;
  right: 3em;
  color: white;
  background-color: green;
  padding: 1em;
  display: none;
  border-radius: 4px;
}
span{
  color: red;
}
