<main>
  <header>
    <div class="foodly-header">
    <h1>Foodly</h1>
    <a [routerLink]='["/user-profile",getUserId().localId]'> <i class="fas fa-user"></i></a>

    </div>
    <div class="search">
      
      <form action="" (ngSubmit)="submit()" [formGroup]="feedForm">
        <input type="text" placeholder="Search your restaurant" formControlName="search" [(ngModel)]="userInput"/>
      <i class="fas fa-search"></i>
      <select name="" id="" formControlName="city">
        <option value="">City</option>
        <ng-container *ngFor="let restaurant of allRestaurants" >
          <option *ngIf=restaurant.restaurantCity [value]="restaurant.restaurantCity" >{{restaurant.restaurantCity}}</option>

        </ng-container>
      </select>
      <select name="" id="" formControlName="raiting">
        <option value="">Raiting</option>
        <!-- <option *ngFor="let restaurant of allRestaurants" [value]="restaurant.restaurantDisplayRaiting">{{restaurant.restaurantDisplayRaiting}}</option> -->
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

        <!-- <option value="">Highest Rated</option>
        <option value="">Lowest Rated</option> -->
      </select>
      <select name="" id="" formControlName="type">
        <option value="">Food Type</option>
        <ng-container *ngFor="let restaurant of allRestaurants" >
          <option *ngIf=restaurant.restaurantType  [value]="restaurant.restaurantType">{{restaurant.restaurantType}}</option>
        </ng-container>
      </select>
    </form>
    </div>
    <ul>
      <ng-container *ngFor="let restaurant of allRestaurants | restaurantFeedPipe:userInput; let i = index">
      <li *ngIf= "i <= 6">
        <a [routerLink]="['/restaurant',restaurant.restaurantId]"><div class="drowpdown-img"><img [src]=restaurant.restaurantImage alt=""></div><div class="restaurantInfo">
          <h2>{{restaurant.restaurantName}}</h2>
          <p>{{restaurant.restaurantAddres}}, {{restaurant.restaurantCity}}</p>
        </div></a>
      </li>
    <a routerLink="showMore" *ngIf="i>6">Show {{i}} more</a>
    </ng-container> 
    </ul>
    <div class="select">
      <!-- <select name="" id="">
        <option value=""></option>
      </select> -->
      <a  [routerLink]='["/user-profile",getUserId().localId]'><i class="fas fa-user"></i></a>
      <!-- <button><i class="fas fa-bars"></i></button> -->
    </div>
  </header>
  <div class="topRated-restaurants">
    <header>
      <h1>Retaurants</h1>
    </header>
    <div class="topRated-rastaurant-inner" *ngIf="allRestaurants" >
      <app-restaurant-feed [restaurants]="allRestaurants | feedPipe: feedForm.value"></app-restaurant-feed>
    </div>
  </div>

</main>
<!-- <app-loader *ngIf=></app-loader> -->