<main>
  <header>
    <h1>Wolt</h1>
    <div class="search">
      <input type="text" placeholder="Search your restaurant" [(ngModel)]="userInput"/>
      <i class="fas fa-search"></i>

    </div>
    <ul >
      <ng-container *ngFor="let restaurant of allRestaurants | restaurantFeedPipe:userInput; let i = index">
      <li *ngIf= "i <= 6">
        <a [routerLink]="['/restaurant',restaurant.restaurantId]"><div class="drowpdown-img"><img [src]=restaurant.restaurantImage alt=""></div><div class="restaurantInfo">
          <h2>{{restaurant.restaurantName}}</h2>
          <p>{{restaurant.restaurantAddres}}, {{restaurant.restaurantCity}}</p>
        </div></a>
      </li>
    <a routerLink="showMore" *ngIf="i>6">Show {{i}} more</a>
    </ng-container> 
    </ul>
    <div class="select">
      <select name="" id="">
        <option value=""></option>
      </select>
    </div>
  </header>
  <div class="topRated-restaurants">
    <header>
      <h1>Top 5 restaurants</h1>
    </header>
    <div class="topRated-rastaurant-inner">
      <app-restaurant-feed [restaurants]=allRestaurants></app-restaurant-feed>
    </div>
  </div>
  <div class="topRated-restaurants">
    <header>
      <h1>Top 10 Dishes</h1>
    </header>
    <div class="topRated-rastaurant-inner">
      <app-restaurant-feed></app-restaurant-feed>
    </div>
  </div>
  <div class="topRated-restaurants">
    <header>
      <h1>Top 10 Pizzas</h1>
    </header>
    <div class="topRated-rastaurant-inner">
      <app-restaurant-feed></app-restaurant-feed>
    </div>
  </div>
  <div class="topRated-restaurants">
    <header>
      <h1>Top 10 Burgers</h1>
    </header>
    <div class="topRated-rastaurant-inner">
      <app-restaurant-feed></app-restaurant-feed>
    </div>
  </div>
  <div class="topRated-restaurants">
    <header>
      <h1>Top 10 Deserts</h1>
    </header>
    <div class="topRated-rastaurant-inner">
      <app-restaurant-feed></app-restaurant-feed>
    </div>
  </div>
</main>
