<header class="user-profile-header">
  <div class="opacity">
    <div class="header-upper">
       <a routerLink="/feed"><h1>Donesi</h1></a> 
        <!-- <div class="user-img"></div> -->
      <div class="right-header">
        <button (click)=displayMenu(menu)> <i class="fas fa-bars"></i></button>
        <a routerLink="/feed"> <i class="fas fa-search"></i></a>
      </div>
    </div>
    <div class="header-lower">
      <h1>My Account</h1>
      <nav>
        <ul>
          <li><a routerLink="profile">Profile</a></li>
          <li><a routerLink="user-orders">Orders</a></li>
          <li><a routerLink="favorite-rastaurants">Favorite Restaurants</a></li>
          <li><a routerLink="">Heathy rank</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<aside class="menu" #menu>
  <header>
    <h1>Menu</h1>
    <button class="exit" (click)=displayMenu(menu)><i class="fas fa-times"></i></button>

  </header>
<ul>
  <li><a routerLink="profile">Profile</a></li>
  <li><a routerLink="user-orders">Orders</a></li>
  <li><a routerLink="favorite-rastaurants">Favorite Restaurants</a></li>
  <li><a routerLink="">Heathy rank</a></li>
  <li><button>Log out</button></li>
</ul>
</aside>