@mixin responsiveHeader {
  @media screen and (max-width: 800px) {
    .opacity {
      padding: 0.5em 1em;
      .header-lower {
        left: 0.5em;

        h1 {
          margin-left: 0.3em;
        }
        nav {
          ul {
            overflow-x: scroll;
            li {
              padding: 0.5em;
            }
          }
        }
      }
    }
  }
  //   @media screen and (max-width: 300px) {
  //     .opacity {
  //       .header-lower {
  //         h1 {
  //           margin-left: 0em;
  //         }
  //       }
  //     }
  //   }
}

header {
  color: white;
  position: relative;
  background-image: url(https://images.pexels.com/photos/3758133/pexels-photo-3758133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  height: 50vh;
  .opacity {
    overflow: hidden;
    position: relative;
    padding: 1em 3.5em;
    .header-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;

    nav {
      ul {
        display: flex;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .header-lower {
      position: absolute;
      bottom: 3em;
      left: 2.7em;
      width: 100%;
      h1 {
        margin-left: 0.9rem;
      }
      nav {
        margin-top: 0.3rem;
        ul {
          //   li:nth-child(even) {
          //     margin: 0 0.5em;
          //   }
          li {
            padding: 1em;
          }
        }
      }
    }
  }
  @include responsiveHeader();
}
