<a [routerLink]="['/restaurant',restaurant.restaurantId]" class="restaurant-card" *ngFor="let restaurant of  restaurants ">
  <div class="restaurant-img">
    <img
      [src]=restaurant.restaurantImage
      alt=""
    />
  </div>
  <div class="header">
    <div class="header-left">
      <h3>{{restaurant.restaurantName}}</h3>
      <p>{{restaurant.shortAbout}}</p>
    </div>
    <div class="header-right">
      
      <div class="delivery-time">
        <p>Delivery Time : </p>

        <p>20 - 25</p>
        <p>min</p>
      </div>
    </div>
  </div>
  <div class="price">
    <p><i class="fas fa-biking"></i>RSD139</p>
    <p><i class="fas fa-smile"></i> {{restaurant.restaurantDisplayRaiting}}</p>
  </div>
</a>
