<form [formGroup]="logInRestaurant" (ngSubmit)="submit()">
  <div class="form-control">
    <label for="">Email</label><input type="text" formControlName="email" />
  </div>
  <span
    *ngIf="
      !logInRestaurant.get('email').valid &&
      logInRestaurant.get('email').touched
    "
  >
    <span *ngIf="logInRestaurant.get('email').errors['required']">
      <p>This field is required</p>
    </span>
  </span>
  <div class="form-control">
    <label for="">Password</label
    ><input type="password" formControlName="password" />
  </div>
  <span
    *ngIf="
      !logInRestaurant.get('password').valid &&
      logInRestaurant.get('password').valid
    "
  >
    <span *ngIf="logInRestaurant.get('password').errors['required']">
      <p>This field is required</p>
    </span>
  </span>
  <button type="submit" [disabled]="!logInRestaurant.valid">Log In</button>
</form>
