<header
  class="main-header"
  *ngIf="restaurant"
  [ngStyle]="{ 'background-image': 'url(' + restaurant.restaurantImage + ')' }"
>
  <div class="opacity">
    <div class="main-header-inner">
      <div class="header-upper">
        <div class="logo">
          <h1>Wolt</h1>
        </div>
        <div class="search-restaurant">
          <input type="text" *ngIf="displayRestaurantFeaturesBool" />
        </div>
        <div class="login" *ngIf="displayToDashboardLink(); else toDashboard">
          <a href="">Log In</a><a href="" class="sign-up">Sign up</a>
        </div>
        <ng-template #toDashboard>
          <a
            class="to-Dashboard"
            [routerLink]="['/restaurant-dashboard', restaurant.restaurantId]"
            >To dashboard</a
          >
        </ng-template>
        <div class="user-btns">
          <button class=""><i class="fas fa-user"></i></button>
          <button class=""><i class="fas fa-hamburger"></i></button>
        </div>
      </div>
      <div class="header-lower">
        <div class="delivery-time">
          <p>
            <i class="fas fa-biking"></i> The average delivery time is
            <strong>20–35 min</strong>
          </p>
        </div>
        <div class="open-info">
          <button>
            <p>
              Open today <strong>{{ restaurant.workTime }}</strong>
            </p>
          </button>
        </div>
        <div class="bought-items">
          <p><i class="fas fa-shopping-bag"></i> <strong>0 items</strong></p>
        </div>
      </div>
      <div class="restaurant-name">
        <h1>{{ restaurant.restaurantName }}</h1>
        <p>{{restaurant.shortAbout}}</p>
      </div>
    </div>
  </div>
  <div class="raiting">
    <div class="left">
      <i class="fas fa-laugh-beam"></i>
      <div class="raiting-num-inner">
        <span class="raiting-number-style"><h2>9.2</h2></span>
        <p>out of 10</p>
      </div>
      <button *ngIf="displayRestaurantFeaturesBool">
        <i class="fas fa-heart"></i> Favorite
      </button>
    </div>
    <div class="right">
      <div class="input-field">
        <input type="number" *ngIf="displayRestaurantFeaturesBool" />
        <p>/ 10</p>
        <i class="fas fa-star"></i>
      </div>
    </div>
  </div>
</header>
<div class="raiting-responsive" *ngIf="restaurant">
  <div class="raiting-number">
    <div class="raiting-number-inner">
      <div class="raiting-left">
        <i class="fas fa-laugh-beam"></i>
        <p>9.2</p>
      </div>
      <div class="raiting-right">
        <input type="number" />
        <p>/10</p>
      </div>
    </div>
    <div class="favorite" *ngIf="displayRestaurantFeaturesBool">
      <button><i class="fas fa-heart"></i></button>
    </div>
  </div>
  <div class="open-info-responsive">
    <p><i class="far fa-clock"></i>{{ restaurant.workTime }}</p>
    <button>More Info</button>
  </div>
  <div class="delivery-time-responsive">
    <p>
      <i class="fas fa-biking"></i> The average delivery time is
      <strong>20–35 min</strong>
    </p>
  </div>
  <div class="search">
    <input type="text" />
    <i class="fas fa-search"></i>
  </div>
  <div class="categories">
    <a  [routerLink]="['category-name', 'all']">All</a>
    <a
      [routerLink]="['category-name', category]"
      *ngFor="let category of categories"
      >{{ category }}</a
    >
  </div>
</div>
<main *ngIf="restaurant">
  <section class="categories-sidebar">
    <ul>
      <li >
        <a  [routerLink]="['category-name', 'all']">All</a>
      </li>
      <li *ngFor="let category of categories">
        <a [routerLink]="['category-name', category]">
          {{ category }}
        </a>
      </li>
    </ul>
  </section>
  <section class="menu">
    <router-outlet></router-outlet>
  </section>
  <section class="venue-info">
    <h2>Venue information</h2>
    <h3>Address</h3>
    <div class="addres-info">
      <p class="street">{{ restaurant.restaurantAddres }}</p>
      <!-- <p class="postal-number">11000 Belgrade</p> -->
      <a
        class="seemap"
        target="_blank"
        rel="noopener noreferrer"
        href="https://maps.google.com/?q=44.81838054661869,20.458524584573752"
        >See map
      </a>
    </div>
    <div class="opening-times">
      <h3>Opening times</h3>
      <div>
        <div class="restaruant-or-delivery-btns">
          <h3>Delivery</h3>
        </div>

        <div class="opening-time-date">
          <p style="color: red">{{ restaurant.workTime }}</p>
        </div>
        <div class="alergy-info">
          <p>
            If you have allergies or other dietary restrictions, please contact
            the restaurant. The restaurant will provide food-specific
            information upon request.
          </p>
          <div class="phone">
            <a href="JavaScript:void(0)">{{ restaurant.phone }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- <div class="sum">
      <p>Log in in order 1.600,00RSD</p>
    </div> -->
