@import "../../shared-styles/shared";
.main-header {
  position: relative;
  height: 60vh;
  // background-image: url("https://prod-wolt-venue-images-cdn.wolt.com/5d30dcbdbac78b444f8e2848/fa176d82131ea28516c460ce6e5f8bcc-edits/9b96041bd2e2ebfcf85b5ade767db8f1");
  background-size: cover;
  background-position: center;
  .main-header-inner {
    width: 90%;
    margin: 0 auto;
    .header-upper {
      @include flex(space-between, center, row);
      .toDashboard {
        display: inline-block;
        width: 33.3%;
        text-align: end;
        color: white;
        font-size: 1.1rem;
        text-decoration: none;
      }
      margin-top: 1.2rem;
      div {
        width: 33.3%;
      }
      .to-Dashboard {
        color: white;
        text-decoration: none;
      }

      .logo {
        color: white;
        cursor: pointer;
      }
      .search-restaurant {
        text-align: center;
        position: relative;
        input {
          border: 1px solid white;
          background-color: transparent;
          font-size: 1.1rem;
          border-radius: 4px;
          outline: none;
          padding: 0.3em 0.6em;
          color: white;
        }
        ul {
          position: absolute;
          top: 2em;
          left: 0;
          right: 0;
          width: 60%;
          z-index: 99999999999999999;
          background-color: white;
          margin: 1em auto;
          width: 100%;

          li {
            list-style: none;
            a {
              display: inline-block;
              display: flex;
              align-items: center;
              text-decoration: none;
              border-bottom: 2px solid rgb(219, 219, 219);
              padding: 0.5em 0.5em;
              color: black;
              width: 100%;

              .restaurantInfo {
                padding: 0.3em 0;
                text-align: left;
                h2 {
                  margin-bottom: 0.2em;
                }
              }
              .drowpdown-img {
                width: 70px;
                height: 70px;
                margin-right: 1rem;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
      .login {
        text-align: end;
        a {
          color: white;
          text-decoration: none;
          margin: 0 0.3em;
        }
        .sign-up {
          padding: 0.3em 0.9em;
          border: 1px solid white;
        }
      }
      .user-btns {
        display: none;
        text-align: end;
        button {
          background: transparent;
          color: white;
          border: none;
          outline: none;
          font-size: 1.5rem;
          margin: 0 0.3em;
        }
      }
      @include responsiveUpperHeader();
    }
  }
  .header-lower {
    div {
      width: 33.3%;
    }
    @include flex(space-between, center, row);

    color: white;
    margin-top: 3rem;
    .open-info {
      text-align: center;
      button {
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        p {
          font-weight: normal;
        }
      }
    }
    .bought-items {
      text-align: end;
      strong {
        margin-left: 0.9em;
      }
    }
  }
  @include responsiveheaderLower();

  .restaurant-name {
    position: absolute;
    bottom: 6em;
    .restaurant-right {
      button {
        display: none;
      }
    }
    color: white;
    h1 {
      font-size: 5rem;
      font-weight: bolder;
    }
  }

  .opacity {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .raiting {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    bottom: -3em;
    z-index: 999999;
    @include flex(space-between, center, row);

    padding: 1.5em 1em;
    border-radius: 9px;
    box-shadow: 0px 7px 8px 3px rgb(175, 175, 175);
    .left {
      @include flex(inherit, center, row);

      .fa-laugh-beam {
        color: orange;
        font-size: 1.9rem;
      }
      button {
        background-color: transparent;
        border: 1px solid rgb(189, 189, 189);
        padding: 0.8em 1.2em;
        font-size: 1.1rem;
        border-radius: 4px;
        cursor: pointer;
        i {
          color: red;
        }
      }
      .raiting-num-inner {
        //   font-weight: bold;
        //   font-size: 1.2rem;
        margin: 0 0.9em;
        @include flex(inherit, center, row);

        p {
          font-size: 1.1rem;
        }
        .raiting-number-style {
          margin-right: 0.3em;
          font-size: 1.5rem;
        }
      }
    }
    .right {
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      .input-field {
        width: 180px;
        height: 30px;
        @include flex(flex-end, center, row);
        select {
          font-size: 1.2rem;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid grey;
          outline: none;
          width: 100px;
        }
        i {
          color: rgb(255, 230, 0);
          font-size: 1.7rem;
          margin-left: 0.3em;
        }
        p {
          font-size: 1.4rem;
          margin-left: 0.3em;
        }
        input {
          width: 50%;
          height: 100%;
          padding: 0.3em;
          font-size: 1.2rem;
          border: 1px solid rgb(184, 184, 184);
          outline: none;
        }
      }
    }
  }
  @include raitingResponsive();
}

.raiting-responsive {
  width: 90%;
  margin: 1em auto;
  font-size: 1.2rem;
  // @include raitingResponsiveAbove();
  .raiting-number {
    @include flex(space-between, inherit, row);

    .raiting-number-inner {
      @include flex(space-between, center, row);

      width: 100%;
      .raiting-left {
        @include flex(inherit, center, row);

        i {
          color: orange;
          margin-right: 0.3em;
        }
      }
      .raiting-right {
        @include flex(inherit, center, row);

        select {
          font-size: 1.2rem;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid grey;
          outline: none;
          width: 100px;
        }
      }
    }
    .favorite {
      button {
        background-color: transparent;
        color: red;
        font-size: 1.2rem;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }
  .open-info-responsive {
    margin: 0.6em 0;
    @include flex(space-between, center, row);

    i {
      margin-right: 0.3em;
    }
    button {
      background-color: #e0f3fb;
      color: #009de0;
      padding: 0.5rem 1.5rem;
      border-radius: 8px;
      font-weight: bolder;
      border: none;
      outline: none;
    }
  }
  .delivery-time-responsive {
    margin-bottom: 0.8em;
  }
  .categories {
    overflow-x: scroll;
    margin-top: 1.5rem;
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    a {
      text-decoration: none;
      padding: 0 8px;
      color: #707173;
      border-radius: 200px;
      font-size: 1.2rem;
      line-height: 1.42;
      // white-space: nowrap;
      overflow: hidden;
      // text-overflow: ellipsis;
      width: 100%;
      font-weight: bolder;
    }
  }
  .search {
    position: relative;

    input {
      width: 100%;

      height: 100%;
      font-size: 1.2rem;
      padding: 0.2em 0.4em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-left: 2.4em;

      border: 1px solid darkgray;
      background-color: rgb(235, 235, 235);
    }
    i {
      position: absolute;
      top: 20%;
      left: 0;
      font-size: 1.2rem;
      margin-left: 0.7em;
    }
  }
}

main {
  @include flex(space-between, inherit, row);
  width: 90%;
  margin: 6rem auto 0 auto;
  .categories-sidebar {
    width: 15%;
    ul {
      list-style: none;
      font-size: 0.875rem;
      margin: 0;
      position: sticky;
      top: 0px;
      max-height: calc(100vh - 200px);
      overflow-y: auto;
      bottom: 0px;
      left: 0px;
      width: 100%;
      // height: 100%;
      display: inline-block;
      li {
        font-weight: 500;
        margin-bottom: 1rem;
        overflow: hidden;
        height: 27px;

        a {
          color: #717171;
          cursor: pointer;
          position: relative;
          font-size: 1.2rem;
          font-weight: bolder;
          line-height: initial;
          margin: 0.2rem 0;
          background-color: transparent;
          border: none;
          outline: none;
          text-decoration: none;
          &:focus {
            color: #00a58c;
          }
        }
      }
    }
  }

  .menu {
    width: 60%;
    padding: 0 3.1em;

    header {
      @include flex(space-between, center, row);

      margin-bottom: 2rem;
      h1 {
        font-size: 2.2rem;
      }
      select {
        font-size: 1.2rem;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid grey;
        outline: none;
      }
    }
  }
  .venue-info {
    width: 25%;
    h3 {
      margin: 0.4em 0;
    }
    .addres-info {
      a {
        display: inline-block;
        margin-top: 0.3em;
        text-decoration: none;
        color: blue;
      }
    }
    .opening-times {
      .restaruant-or-delivery-btns {
        button {
          border: none;
          background-color: transparent;
          margin: 0 0.3em;
          outline: none;
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
      .opening-time-date {
        margin: 0.5em 0;
        p {
          font-weight: bolder;
        }
      }
      .alergy-info {
        p {
          margin-bottom: 0.5em;
        }
        a {
          color: blue;
          text-decoration: none;
        }
      }
    }
  }
}
.sum {
  background-color: #46474d;
  color: white;
  padding: 0.6em 1.2em;
  position: fixed;
  top: 1em;
  right: 2.5em;
  z-index: 99999999999;
  p {
    font-weight: bolder;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    width: 70%;
  }
  .main-header {
    .opacity {
      .main-header-inner {
        width: 70%;
        .bought-items {
          margin-right: 0.5em;
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .main-header {
    height: 60vh;
    .raiting {
      width: 70%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 1024px) {
  .raiting-responsive {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  main {
    margin-top: 1rem;
    .menu {
      width: 100%;
      padding: 0;
      .menu-item {
        .order {
          .order-count {
            button {
              padding: 0.7em 0.8em;
            }
          }
        }
      }
    }
    .categories-sidebar,
    .venue-info {
      display: none;
    }
  }
  .main-header {
    .restaurant-name {
      bottom: 1.5em;
    }
    .opacity {
      .main-header-inner {
        width: 90%;
        margin: 0 auto;
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .raiting-responsive {
    font-size: 1rem;
  }
  .main-header {
    .opacity {
      .main-header-inner {
        width: 90%;
        margin: 0 auto;

        .toDashboard {
          display: none;
        }
        h1 {
          font-size: 3rem;
        }
        .restaurant-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          .restaurant-right {
            button {
              cursor: pointer;
              border: none;
              outline: none;
              background-color: transparent;
              display: inline;
              color: white;
              i {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
  main {
    margin-top: 1rem;
    .menu {
      .menu-item {
        .menu-item-container {
          flex-direction: column;

          // .menu-item-img-container {
          //   width: 100%;
          // }
        }
        .order {
          .order-count {
            padding-left: 0;
            padding-right: 0;
            button {
              display: inline-block;
              width: 50%;
              padding: 0.7em 0.5em;
            }
          }
        }
        .toppings-inner {
          & :nth-child(1) {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .main-header {
    .opacity {
      .main-header-inner {
        width: 90%;
        margin: 0 auto;
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
