<section class="favorite-restaurant-wrapper">
  <div class="header">
    <h2>Your favorite objects</h2>
  </div>
  <ng-container *ngFor='let restaurant of restaurants' >
  <a class="favorite-restaurant" [routerLink]="['/restaurant',restaurant.restaurantId]">
    <div class="restaurant-left">
      <div class="restaurant-img">
        <img [src]="restaurant.restaurantImage" alt="restaurant Image" />
      </div>
      <div class="restauraunt-name">
        <h3>{{restaurant.restaurantName}}</h3>
        <p class="restaurant-addres">{{restaurant.restaurantAddres}}</p>
        <div class="raiting">
          <i class="fas fa-star"></i>
          <p >{{restaurant.restaurantDisplayRaiting}}</p>
        </div>
      </div>
    </div>
    <div class="delivery-time">
      <h3>Vreme Dostave</h3>
      <p class="delivery-time-minutes">65'</p>
      <p>Italijanska hrana</p>
    </div>
    <a [routerLink]="['/restaurant',restaurant.restaurantId]"> Naručite </a>
  </a>
</ng-container>
</section>
