<section class="favorite-restaurant-wrapper">
  <div class="header">
    <h2>Your favorite objects</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nisi iusto,
      quaerat, pariatur vitae amet doloremque mollitia porro quae
    </p>
  </div>
  <div class="favorite-restaurant">
    <div class="restaurant-left">
      <div class="restaurant-img">
        <img src="pexels-alexy-almond-3758133.jpg" alt="" />
      </div>
      <div class="restauraunt-name">
        <h3>Napoli</h3>
        <p class="restaurant-addres">MEdakovic</p>
        <div class="raiting">
          <i class="fas fa-star"></i>
          <p>4.6</p>
        </div>
      </div>
    </div>
    <div class="delivery-time">
      <h3>Vreme Dostave</h3>
      <p class="delivery-time-minutes">65'</p>
      <p>Italijanska hrana</p>
    </div>
    <a href=""> Naručite </a>
  </div>
</section>
