<header>
  <h1>Settings</h1>
</header>

<div class="form-wrapper">
  <form [formGroup]="settingsForm" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="">Restaurant Name</label>
      <input type="text" formControlName="restaurantName" />
    </div>
    <span
      *ngIf="
        !settingsForm.get('restaurantName').valid &&
        settingsForm.get('restaurantName').touched
      "
    >
      <span *ngIf="settingsForm.get('restaurantName').errors['required']"
        >This field is required</span
      >
    </span>
    <div class="form-control">
      <label for="">Restaurant Adres</label>
      <input type="text" formControlName="restaurantAddres" />
      <span
      *ngIf="
        !settingsForm.get('restaurantAddres').valid &&
        settingsForm.get('restaurantAddres').touched
      "
    >
      <span *ngIf="settingsForm.get('restaurantAddres').errors['required']"
        >This field is required</span
      >
    </span>
    </div>
    <div class="form-control">
      <label for="">Restaurant City</label>
      <input type="text" formControlName="restaurantCity" />
      <span
      *ngIf="
        !settingsForm.get('restaurantCity').valid &&
        settingsForm.get('restaurantCity').touched
      "
    >
      <span *ngIf="settingsForm.get('restaurantCity').errors['required']"
        >This field is required</span
      >
    </span>
    </div>
 
    <!-- <div class="form-control">
      <label for="">Working time. <strong>We suggest you write it like this: 08:00 - 21:00</strong> </label
      ><input type="text" formControlName="workTime" />
      <span
      *ngIf="
        !settingsForm.get('workTime').valid &&
        settingsForm.get('workTime').touched
      "
    >
      <span *ngIf="settingsForm.get('workTime').errors['required']"
        >This field is required</span
      >
    </span>
    </div> -->

    <div class="form-control workingTIme">
      <div class="workingTimeFrom">
        <label for="">From AM</label
          >
          <!-- <input type="text"  /> -->
          <select name="" id="" formControlName="workTimeFrom">
            <option value="01:00">01:00</option>
            <option value="02:00">02:00</option>
            <option value="03:00">03:00</option>
            <option value="04:00">04:00</option>
            <option value="05:00">05:00</option>
            <option value="06:00">06:00</option>
            <option value="07:00">07:00</option>
            <option value="08:00">08:00</option>
            <option value="09:00">09:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
          </select>
          <span
          *ngIf="
            !settingsForm.get('workTimeFrom').valid &&
            settingsForm.get('workTimeFrom').touched
          "
        >
          <span *ngIf="settingsForm.get('workTimeFrom').errors['required']"
            >This field is required</span
          >
        </span>
      </div>
      <div class="workingTimeTo">
        <label for="">Until PM</label
          >
          <select name="" id="" formControlName="workTimeTo">
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
            <option value="16:00">16:00</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
            <option value="19:00">19:00</option>
            <option value="20:00">20:00</option>
            <option value="21:00">21:00</option>
            <option value="22:00">22:00</option>
            <option value="23:00">23:00</option>
            <option value="24:00">24:00</option>
          </select>
          <span
          *ngIf="
            !settingsForm.get('workTimeTo').valid &&
            settingsForm.get('workTimeTo').touched
          "
        >
          <span *ngIf="settingsForm.get('workTimeTo').errors['required']"
            >This field is required</span
          >
        </span>
      </div>
    </div>
    <div class="form-control workingTIme">
      <div class="workingTimeFrom">
        <label for="">From AM</label
          >
          <!-- <input type="text"  /> -->
          <select name="" id="" formControlName="workTimeDaysFrom">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option> 
          </select>
          <span
          *ngIf="
            !settingsForm.get('workTimeFrom').valid &&
            settingsForm.get('workTimeFrom').touched
          "
        >
          <span *ngIf="settingsForm.get('workTimeFrom').errors['required']"
            >This field is required</span
          >
        </span>
      </div>
      <div class="workingTimeTo">
        <label for="">Until PM</label
          >
          <select name="" id="" formControlName="workTimeDaysTo">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option> 
          </select>
          <span
          *ngIf="
            !settingsForm.get('workTimeTo').valid &&
            settingsForm.get('workTimeTo').touched
          "
        >
          <span *ngIf="settingsForm.get('workTimeTo').errors['required']"
            >This field is required</span
          >
        </span>
      </div>
    </div>


    <div class="form-control">
      <label for="">Phone</label><input type="number" formControlName="phone" />
      <span
      *ngIf="
        !settingsForm.get('phone').valid && settingsForm.get('phone').touched
      "
    >
      <span *ngIf="settingsForm.get('phone').errors['required']"
        >This field is required</span
      >
    </span>
    </div>
 
    <div class="form-control">
      <label for="">Short about</label>
      <textarea name="" id="" cols="30" rows="10" formControlName=shortAbout></textarea>
      <span
      *ngIf="
        !settingsForm.get('shortAbout').valid &&
        settingsForm.get('shortAbout').touched
      "
    >
      <span *ngIf="settingsForm.get('shortAbout').errors['required']"
        >This field is required</span
      >
    </span>
    </div>
    <div class="form-control-img">
      <label for=""><p>Add Image</p></label>
      <input
        type="file"
        (change)="onFileSelectedListener($event)"
        formControlName="restaurantImage"
      />
      <span
      *ngIf="
        !settingsForm.get('restaurantImage').valid &&
        settingsForm.get('restaurantImage').touched
      "
    >
      <span *ngIf="settingsForm.get('restaurantImage').errors['required']"
        >This field is required</span
      >
    </span>
    </div>

    <button type="submit" [disabled]="!settingsForm.valid">Submit</button>
  </form>
</div>
