@import "../../../../shared-styles/shared";

header {
  margin: 1rem 0;
}
.form-wrapper {
  //   width: 90%;
  //   margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 50%;
    margin: 0 auto;
    span {
      color: red;
      font-weight: bold;
    }
    .form-control {
      margin: 1em 0em;
      &.workingTIme {
        display: flex;
        justify-content: space-between;
        div {
          width: 200px;
        }
        select {
          width: 100%;
          background-color: #dddddd;
          border: none;
          outline: none;
          padding: 0.3em;
        }
      }
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
      input {
        @include input();
      }
      textarea {
        resize: none;
        font-family: "Roboto", "sans-serif";
        padding: 0.4em;
        background-color: #dddddd;
      }
    }
    .form-control-img {
      position: relative;
      width: 253px;
      padding: 0.5em;
      color: white;
      label {
        pointer-events: none;
        background-color: orangered;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;
      }
      input {
        cursor: pointer;
        width: 100%;
      }
    }
    button {
      margin-top: 1rem;
      padding: 0.6em;
      background-color: green;
      color: white;
      font-size: 1.2rem;
      border: none;
      outline: none;
      border-radius: 7px;
      width: 100%;
      cursor: pointer;
      &[disabled] {
        background-color: rgb(201, 255, 201);
        pointer-events: none;
      }
    }
  }
}
